<h1> Hello </h1>

<%= link_to "Create Post", new_article_path %>

<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam eget faucibus ex. Aenean eleifend sapien facilisis nisl aliquam, id elementum diam sagittis. Mauris facilisis quis metus ac elementum. Mauris nec erat non dolor lacinia viverra. Etiam nunc libero, tempor sit amet laoreet sit amet, tincidunt id felis. Cras lobortis, turpis eu dapibus semper, augue est sollicitudin nisl, tristique ornare lorem arcu sit amet libero. Cras cursus laoreet odio, id mattis est lobortis sed. Aliquam erat volutpat. Aliquam ex augue, congue at enim eu, mollis commodo sem. Nullam fringilla felis vel aliquet laoreet. Pellentesque sollicitudin maximus neque. Praesent convallis, magna in pulvinar rutrum, magna ante vestibulum ipsum, vitae venenatis odio ex at quam. Suspendisse ac ipsum non neque hendrerit tincidunt ut sed ipsum.

Sed vehicula dui nec mi cursus feugiat. Ut nulla quam, viverra at mattis ut, auctor sed metus. Sed in orci non ante laoreet pulvinar sit amet vitae nibh. Nulla vel quam in leo eleifend convallis eu et felis. Proin nec erat tempus, elementum arcu eget, mattis orci. Duis molestie est et metus posuere, quis cursus lorem interdum. Sed viverra nunc nunc, non placerat arcu viverra sed. Sed erat velit, tincidunt consectetur metus ut, dictum venenatis enim. Nullam libero nisl, congue at congue congue, interdum vitae ligula. Suspendisse pulvinar ornare mauris. Praesent quis nunc sodales, bibendum quam id, viverra ante.

Praesent rutrum lobortis diam, eget tempor lacus. Suspendisse potenti. Sed suscipit tortor diam, at lacinia purus pharetra id. Mauris nisi sapien, porta nec ultricies eu, porttitor non orci. Vestibulum quis mi vehicula, posuere ligula vitae, efficitur libero. Mauris et vehicula velit. Vestibulum ac dictum tellus. Quisque vitae iaculis massa, eu semper est.

Nullam nec fermentum eros. In interdum sed ex eu vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Morbi porta et erat et tincidunt. Vestibulum sodales lectus viverra, cursus nisi a, ultrices elit. Suspendisse potenti. Duis imperdiet non nibh sit amet tempus. Vestibulum id urna neque. Quisque felis ipsum, laoreet tincidunt ornare eu, volutpat a purus. Praesent vitae ex sodales est feugiat tristique non et nibh. Nullam non urna in sem dapibus lobortis. Aenean eu massa nisi.

Aenean in dui magna. Donec tristique leo at suscipit pharetra. Morbi at sapien luctus, venenatis libero ut, vehicula tellus. Vivamus ac dignissim nulla. Aliquam erat volutpat. Pellentesque viverra ex ut rutrum consequat. Duis porttitor lorem ac nisi auctor, in sodales leo venenatis. Aenean sodales maximus felis, non mattis enim vehicula ut. Quisque vitae ante vitae lacus varius aliquam. Cras ante sapien, finibus sed dictum vitae, porta ut mauris. Maecenas in ultrices tellus. Nunc porttitor interdum rutrum.

Mauris sit amet diam sed lorem elementum porta. Nunc nec massa consequat, hendrerit orci eget, congue erat. Nulla auctor enim tortor, laoreet cursus nulla dignissim ut. Vivamus non molestie dui. Nunc leo felis, accumsan a suscipit ac, vestibulum quis nunc. Quisque sit amet sagittis est. Duis nec ligula sit amet risus faucibus iaculis et ut ipsum. Pellentesque gravida sollicitudin tincidunt. Donec accumsan feugiat leo. Cras eu libero ex. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.

In rutrum ipsum nisi, ac luctus mi fermentum quis. In lobortis metus vel mi laoreet, eu varius nisi imperdiet. Mauris bibendum volutpat vulputate. Ut rhoncus, felis in interdum pharetra, nulla lectus finibus mi, vulputate iaculis sem odio ac libero. Etiam viverra pellentesque interdum. Sed purus augue, ultrices eu aliquet quis, egestas non sapien. Aenean turpis dolor, tempor pulvinar blandit sed, mollis ut leo. Ut augue lacus, vestibulum eu dolor vel, tempor tristique metus. Quisque auctor diam elit, ut laoreet turpis commodo tincidunt. Nam iaculis risus lectus, et scelerisque nunc mattis sed.

Nullam semper magna ut leo venenatis pharetra. Donec eu dui vitae ligula pulvinar consequat ac vel eros. Fusce non ultrices nulla. Mauris vel lobortis sem. Nunc vulputate mollis egestas. Suspendisse et rutrum ex, eleifend vehicula lectus. Praesent faucibus eros quis augue vulputate gravida. Ut auctor lorem odio, euismod scelerisque ex pulvinar at. Cras fermentum tellus nec pretium dignissim. Nam vel fringilla quam, at lacinia eros. Mauris in libero vel nisl lacinia sagittis et scelerisque augue. Duis consequat dolor vel dolor lacinia iaculis. Nullam vel mattis arcu.

Duis ac pellentesque neque, non rhoncus neque. Cras luctus dolor efficitur nisi tristique ultrices. Ut et dapibus ex, gravida accumsan mauris. Fusce id laoreet tellus. Ut pharetra lacus at ex cursus, sed iaculis quam dignissim. Praesent odio nibh, dignissim eu efficitur non, convallis ac dui. Praesent pretium lacinia magna a tempus. Aenean hendrerit ultricies dapibus. Aenean facilisis ut urna sed gravida.</p>

<% @articles.each do |post|%>
  <br>
  <%= post.title  %>
  <%= post.description  %>
  <%=link_to "Show Post", controller: "articles", action: "show", id: post.id %>
<% end %>

<div id="disqus_thread">
<script>



/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

// var disqus_config = function () {
// // this.page.url = https://localhost:3000;  // Replace PAGE_URL with your page's canonical URL variable
// // this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
// };

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://www-uglymalaysia.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript#disqus_thread">comments powered by Disqus.</a></noscript>
<script id="dsq-count-scr" src="//www-uglymalaysia.disqus.com/count.js" async></script>
</div>
