<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120935558-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-120935558-1');
</script>

<% @article.each do |x| %>
  <p> Title: <%= x.title %> </p><br>
  <p> Description:<%= x.description %></p><br>
<% end %>
