/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */

 @import "jquery-ui";
 @import "font-awesome";
 @import "bootstrap";
 @import "social-share-button";
 @import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Open+Sans|Raleway|Source+Sans+Pro');
 @import "articles.scss";
 @import "navbar.scss";
 @import "mainpage.scss";


 // color variations
 $red: #FF3118;
 $red2:  #FF9180;
 $yellow: #FFE900;
 $dark: #0A2343;
 $green: #2CA58D;
 $light: #FFEDDF;

 // font variables
 $title: "Raleway", "Nunito Sans", sans-serif;
 $body: "Source Sans Pro", "Open Sans", "Arial", sans-serif;
   $banner-size: 40px;
 $xlarge-size: 34px;
 $large-size: 28px;
 $medium-size: 20px;
 $small-size: 16px;
 $xsmall-size: 14px;
 $tag-size: 12px;

 ul.ui-autocomplete {
   position: absolute;
   list-style: none;
   margin: 0;
   padding: 0;
   border: solid 1px #999;
   cursor: default;
   li {
     background-color: #FFF;
     border-top: solid 1px #DDD;
     margin: 0;
     padding: 0;
     a {
       color: #000;
       display: block;
       padding: 3px;
     }
     a.ui-state-hover, a.ui-state-active {
       background-color: #FFFCB2;
     }
   }
 }

// SHOW PAGE

.show-header {
  text-align: center;
  font-size: $banner-size;
}

.author {
  font-size: $small-size;
  font-style: italic;
}



.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    font: 1.2em Helvetica, arial, sans-serif;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
}

.wrapper > * {
  grid-column: col-start / span 12;
}

.footer-wrapper {
  display: flex;
  display: inline-flex;
  width: auto;
  grid-column: span 4;
}



.footer-wrapper .footer-box{
  // flex: 0 0 50%;
  margin-right: 20px;
  border: 1px solid;
  box-shadow: 2px 7px #D3D3D3;
}

.disqus {
    grid-column-start: 2;
    grid-column-end: span 8;
}

@media (min-width: 300px) and (max-width: 699px) {

  .main-footer .footer-wrapper {
    display: block;
    padding-top: 5px;
  }
}


@media (min-width: 700px) {
  .main-nav {
    grid-column: col-start / span 1;
    grid-row: 2 / 4;
  }

  .content {
    grid-column: col-start 2 / span 8;
    grid-row: 2 / 4;
  }

  .side {
    grid-column: col-start 10 / span 3;
    grid-row: 2;
  }

  .ad {
    grid-column: col-start 10 / span 3;
    grid-row: 3;
  }

  .main-footer {
    grid-column-start: 2;
    grid-column-end: span 8;
  }

  nav ul {
    flex-direction: column;
  }

  .main-footer .footer-wrapper .footer-box {
    grid-column: span 4;

    }

  .main-footer .footer-wrapper .footer-box img {
      object-fit: cover;
      width: 411px;
      height: 250px;


  }

  .sticky-social {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
  }

  .side {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
  }

}







// modal-css-start

.header .title-signup {
  font-size: $large-size;
  margin-bottom: -20px;
  margin-top: 0.5rem;
  font-family: $title;
  font-weight: bold;
  color: $dark;
}

.header .subtitle-signup {
  background:$light;
  padding: 10px 25px;
  margin: 0 auto 0.5rem auto;
  font-family: $body;
  color: $green;
  max-width: 500px;
  box-shadow: 7px 6px rgba(0,0,0,0.05);
}

.facebook_login {
  border-radius: 40px;
  background: transparent;
  color: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}

.facebook_login:hover {
  color: #FFF;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}

.twitter_login {
  border-radius: 40px;
  background: transparent;
  color: rgba(91, 192, 222, 0.75);
  border: 2px solid rgba(91, 192, 222, 0.75);
}

.twitter_login:hover {
  color: #FFF;
  background: rgba(91, 192, 222, 0.75);
  border: 2px solid rgba(91, 192, 222, 0.75);
}

.google_login {
  border-radius: 40px;
  background: transparent;
  color: rgba(217, 83, 78, 0.75);
  border: 2px solid rgba(217, 83, 78, 0.75);
}

.google_login:hover {
  color: #FFF;
  background: rgba(217, 83, 78, 0.75);
  border: 2px solid rgba(217, 83, 78, 0.75);
}

.email_login {
  border-radius: 40px;
  background: transparent;
  color: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.email_login:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.rounded {
    border-radius: 20px;
    background: transparent;
    color: rgba(108, 88, 179, 0.75);
    border: 2px solid rgba(108, 89, 179, 0.75);
}

.rounded:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

// modal-end
