/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */

 @import "font-awesome";
 @import "bootstrap";
 @import "social-share-button";
 @import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Open+Sans|Raleway|Source+Sans+Pro');
 @import "articles.scss";


 // color variations
 $red: #FF3118;
 $red2:  #FF9180;
 $yellow: #FFE900;
 $dark: #0A2343;
 $green: #2CA58D;
 $light: #FFEDDF;

 // font variables
 $title: "Raleway", "Nunito Sans", sans-serif;
 $body: "Source Sans Pro", "Open Sans", "Arial", sans-serif;
   $banner-size: 40px;
 $xlarge-size: 34px;
 $large-size: 28px;
 $medium-size: 20px;
 $small-size: 16px;
 $xsmall-size: 14px;
 $tag-size: 12px;

 img {
   width: auto;
   max-height: 100%;
   height: auto;
   object-fit: cover;
   transition: transform .3s;
 }

 .background {
   background-color: $red2;
   max-width: inherit;
   max-height: 100%;
   padding-top: -50px;
   margin: 0;
 }

 .img-wrap {
   overflow: hidden;
   position: relative;
 }

 .row {
   margin: 0;
 }

 .container {
   // max-width: 1200px;
 }

 .card {
   margin-bottom: 15px;
 }

 .stats {
   color: $green;
 }

a:hover {
   text-decoration: none;
 }

ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 0 auto;
}

.card-title {
  color: $dark;
  font-family: $title;
  font-weight: bold;
  // margin-top: .75rem;
}
// NAVNAR
.navbar-light {
  font-family: "Nunito Sans";
  color: $light;
  font-weight: bold;
  font-size: 16px;
  background: linear-gradient(to right, #FFD998, #FF9180, #FFD998);
  box-shadow: 0px 4px 6px #dddddd;
  z-index: 100;
}

.navbar-light .navbar-nav .nav-link {
  color: $light;
}

.navbar-nav li a {
  color: $light;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: $red;
  font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
  color: $red2;
}

.navbar-light .navbar-brand {
    // position: absolute;
    // top: .5rem;
    // left: 50%;
    // transform: translateX(-50%);
    color: $light;
    // margin-left: -50px;
    // color: #FFEDDF;
}
.navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
  color: $light;
}

.dropdown-menu {
  color: $dark;
  background-color: $light;
  margin: .5rem 0 0 0;
}

li .dropdown-menu a {
  color: $dark;
}

.nav-item .rounded-circle {
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
}

.nav-btn {
  padding: 0 .5rem;
}

.nav-btn .btn-outline-danger {
  color: $red;
  border-color: $red;
  font-weight: bold;

}

.nav-btn .btn-outline-danger:hover {
  color: $light;
}

.nav-btn .btn-outline-light {
  color: $light;
  border-color: $light;
}

.nav-btn .btn-outline-light:hover {
  color: $dark;
}

.nav-post {
  min-width: 25px;
  min-height: 25px;
  font-size: 25px;
}

.circle {
  height: 20px;
  width: 20px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  color: #FFEDDF;
  background: rgba(255, 255, 255, 0.5);
}
//



// LANDING PAGE
//
// gemeral
.container-a {
  position: relative;
  max-width: 1400px;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.container-b {
  display: flex;
  position: relative;
  max-width: 1020px;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

// header
.header {
  text-align: center;
}

.header .title {
  font-size: $large-size;
  margin-bottom: -20px;
  margin-top: 2rem;
  font-family: $title;
  font-weight: bold;
  color: $dark;
}

.header .subtitle {
  background:$light;
  padding: 20px 25px;
  margin: 0 auto 1.5rem auto;
  font-family: $body;
  color: $green;
  max-width: 500px;
}

.card:hover {
  cursor: pointer;
}

.card:hover .card-title {
  text-decoration: underline;
  text-decoration-color: $red;
}

.card:hover img {
  transform: scale(1.2);
}

// .card-featured:hover .image-box img {
//   transform: scale(1.2);
//   cursor: pointer;
// }


// FEATURED CAARDS
//
// general
.featured {
  margin-bottom: 3rem;
}

.featured-link {
  // position: absolute;
  padding: 0;
  // bottom: 0;
  // right: 0;
  color: $green;
  // margin-top: 5px;
}

.featured-link a{
  color: $green;
}

.featured-link a:hover {
  color: $red;
}

// card featured
.featured-main {
  display: block;
  width: auto;
  // height: 515px;
  position: relative;
  // padding-right: 10px;
  text-align: center;
}

.image-box {
  max-height: 465px;
  position: relative;
  background: white;
  margin-bottom: -60px;
  overflow: hidden;
  vertical-align: middle;
}

.image-box img {
  // width: auto;
  // height: 100%;
  // object-fit: cover;
}

.featured-main {
  background: transparent;
  border: 0;
}

.internal-card {
  // background: transparent;
  // position: absolute;
  width: auto;
  bottom: 0;
  margin: 0 50px;
  padding: 0 auto;
  z-index: 10;
}

.internal-card .card-body {
  padding: 15px;
}

.internal-card .card-header {
  height: 30px;
  padding: 3px;
  background-color: $red2;
  color: $light;
  // opacity: .5;
}

.internal-card .card-title {
  // font-size: $large-size;
  font-family: $title;
  font-weight: bold;
  color: $dark;
}

.external-card {
  background: white;
  padding: 0;
}


// card list
.card-list {
  // padding-left: 10px;
}

.card-list .card-body {
  padding: 0;
}

.card-list .card-title {
  padding: 1.25rem;
  // font-size: $medium-size;
  font-family: $title;
  font-weight: bold;
}

.card-list img {
  width: 150px;
  height: 150px;
}

.card-list .stats {
  padding: 0 10px 1.25rem 1.25rem;
}

.featured .tags {
  padding: 15px 0 0 15px;
}


// LATEST MAIN
// Latest feed

.singles .img-wrap {
  min-height: 200px;
  max-height: 280px;
}

.singles .tags {
  margin-bottom: 15px;
}

// modular card threes
.threes {
  background-color: white;
  padding: 15px 15px 0 15px;
}

// side-nav

.side-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}
.latest-feed .side-nav {
  padding: 0 0 0 30px;
}

.side-nav .card {
  margin-bottom: 5px;
}

.side-nav .card-list {
  padding: 0;
}

.side-nav .card-body {
  padding: auto;
}

.side-nav .card-title {
  // padding: 1.25rem;
  margin: 0;
  font-size: $tag-size;
  font-family: $title;
  font-weight: bold;
}

.side-nav img {
  width: 85px;
  height: 85px;
}

.side-nav .title {
  margin: 0;
}

.side-nav .card-body {
  padding: 10px;
}

.side-nav .stats {
  font-size: $xsmall-size;
}

.footer-links a {
  color: $green;
  padding: 0 5px;
}

// SHOW PAGE

.show-header {
  text-align: center;
  font-size: $banner-size;
}

.author {
  font-size: $small-size;
  font-style: italic;
}

.show-header .social-share-button .ssb-icon {
  background-size: 50px 50px;
  padding-top: 5px;
  width: 100px;
  height: 50px;
}

.show-header .inline-social {
  display: flex;
  // flex-direction: row;
  flex-wrap: wrap;
  margin: 5px;
  align-items: center;
  justify-content: center;
}

.show-header .social-share-button .ssb-twitter {
  background-color: #1da1f2;
}

.show-header .social-share-button .ssb-facebook {
  background-color: #0000e6;
}

.show-header .social-share-button .ssb-linkedin {
  background-color: #0077b5;
}

.show-header .social-share-button .ssb-email {
  background-color: #a81bf9;
}

.show-header .social-share-button .ssb-telegram {
  background-color: #37a4db;
}

.show-header .social-share-button .ssb-reddit {
  background-color: #FF4500;
}

.show-header .whatsapp {
  background-color: #1ed414;

  width: 100px;
  height: 50px;
}

.eq {
	padding: 5px;
}

.inline-social img {
  object-fit: contain;
  vertical-align: inherit;
}

.sticky-social {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}


.main-nav .social-share-button .ssb-icon {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 50px 50px;
  display: flex;
  width: 50px;
  height: 50px;
}

.whatsapp {
  width: 50px;
}


.side {
  position: -webkit-sticky;
  position: sticky;
  top: 100px;
}
.wrapper {
    max-width: 1400px;
    margin: 0 auto;
    font: 1.2em Helvetica, arial, sans-serif;
}


nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  grid-gap: 20px;
}

.wrapper > * {
  grid-column: col-start / span 12;
}



@media (min-width: 500px) {

  .side {
    grid-column: col-start / span 3;
    grid-row: 3;
  }

  .ad {
    grid-column: col-start / span 3;
    grid-row: 4;
  }

  .content, .main-footer {
    grid-column: col-start 4 / span 9;
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 700px) {
  .main-nav {
    grid-column: col-start / span 1;
    grid-row: 2 / 4;
  }

  .content {
    grid-column: col-start 2 / span 8;
    grid-row: 2 / 4;
  }

  .side {
    grid-column: col-start 10 / span 3;
    grid-row: 2;
  }

  .ad {
    grid-column: col-start 10 / span 3;
    grid-row: 3;
  }

  .main-footer {
    grid-column: col-start / span 12;
  }

  nav ul {
    flex-direction: column;
  }
}







// modal-css-start

.facebook_login {
  border-radius: 40px;
  padding: 10px 120px;
  background: transparent;
  color: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}

.facebook_login:hover {
  color: #FFF;
  background: rgba(58, 133, 191, 0.75);
  border: 2px solid rgba(58, 133, 191, 0.75);
}

.twitter_login {
  border-radius: 40px;
  padding: 10px 120px;
  background: transparent;
  color: rgba(91, 192, 222, 0.75);
  border: 2px solid rgba(91, 192, 222, 0.75);
}

.twitter_login:hover {
  color: #FFF;
  background: rgba(91, 192, 222, 0.75);
  border: 2px solid rgba(91, 192, 222, 0.75);
}

.google_login {
  border-radius: 40px;
  padding: 10px 120px;
  background: transparent;
  color: rgba(217, 83, 78, 0.75);
  border: 2px solid rgba(217, 83, 78, 0.75);
}

.google_login:hover {
  color: #FFF;
  background: rgba(217, 83, 78, 0.75);
  border: 2px solid rgba(217, 83, 78, 0.75);
}

.email_login {
  border-radius: 40px;
  padding: 10px 120px;
  background: transparent;
  color: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.email_login:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

.submitbtn {
  margin-left: auto;
}

.sharedlinks {
  margin-left: auto;
  width: 290px;
  text-align: right;
}

.captcha {
  margin-right: auto;
}

.rounded {
    border-radius: 20px;
    background: transparent;
    color: rgba(108, 88, 179, 0.75);
    border: 2px solid rgba(108, 89, 179, 0.75);
}

.rounded:hover {
  color: #FFF;
  background: rgba(108, 88, 179, 0.75);
  border: 2px solid rgba(108, 89, 179, 0.75);
}

// modal-end
