/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *
 */

 @import "font-awesome";
 @import "bootstrap";
 @import "social-share-button";
 @import url('https://fonts.googleapis.com/css?family=Nunito+Sans|Open+Sans|Raleway|Source+Sans+Pro');



 // color variations
 $red: #FF3118;
 $yellow: #FFE900;
 $dark: #0A2343;
 $green: #2CA58D;
 $light: #FFEDDF;

 // font variables
 $title: "Raleway", "Nunito Sans", sans-serif;
 $body: "Source Sans Pro", "Open Sans", "Arial", sans-serif;
 $banner-size: 40px;
 $xlarge-size: 34px;
 $large-size: 28px;
 $medium-size: 20px;
 $small-size: 16px;
 $xsmall-size: 14px;
 $tag-size: 12px;

 img {
   width: auto;
   max-height: 100%;
   height: auto;
   object-fit: cover;
 }

 .row {
   margin: 0;
 }

// NAVNAR
.navbar-brand {
    position: absolute;
    left: 50%;
    margin-left: -50px;
    display: block;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 3em;
  width: 100%;
  box-sizing: border-box;
  background: linear-gradient(to right, #FFD998, #FF9180, #FFD998);
  padding: 12px 18px;
  box-shadow: 0px 4px 7px #777;
  transition: background-color 0.4s ease-out;
}

.nvbheight {
  height: 70px;
  font-size: 16px
}

// LANDING PAGE
//
// gemeral
.container-a {
  position: relative;
  width: 1400px;
  height: auto;
  margin: 0 auto;
}

.container-b {
  display: flex;
  position: relative;
  width: 1020px;
  height: auto;
  margin: 0 auto;
  padding: 0;
}

.col-md-7 {
  // background-color: SlateGrey;
  padding: 0;
  text-align: center;
  margin: 0;
}

.col-md-5 {
  // background-color: Grey;
  padding: 0;
  text-align: center;
  margin: 0;
}

.col-md-8 {
  // background-color: SlateGrey;
  padding: 0;
}

.col-md-4 {
  // background-color: Grey;
  padding: 0;
}

// header
.header {
  text-align: center;
}

.header .title {
  font-size: $large-size;
}

.header .subtitle {
}


// FEATURED CAARDS
//
// general
.featured {
  margin-bottom: 5rem;
}

.featured-link {
  position: absolute;
  padding: 5px;
  bottom: 0;
  right: 0;
}

// card featured
.card-featured {
  display: block;
  width: auto;
  height: 515px;
  position: relative;
  // padding-right: 10px;
  text-align: center;
}

.image-box {
  max-height: 465px;
  position: relative;
  background: white;
  margin-bottom: -116px;
  overflow: hidden;
}

.image-box img {
  // width: auto;
  // height: 100%;
  // object-fit: cover;
}

.card-featured .category-tag {
  // background: transparent;
  position: absolute;
  width: auto;
  bottom: 0;
  margin: 0 50px;
  padding: 0 auto;
}

.card-featured .card-header {
  height: 30px;
  padding: 3px;
  background-color: $red;
  opacity: .5;
}


// card list
.card-list {
  padding-left: 10px;
}

.card-list .card-body {
  padding: 0;
}

.card-list .card-title {
  padding: 1.25rem;
}

.card-list img {
  width: 150px;
  height: 150px;
}


// LATEST MAIN
.latest .card-main .card-body {

}

.latest .col-md-7 {
  padding-left: 15px;
}

// Latest feed
.latest-feed .col-md-8 {
  padding: 0;
}

.twos {
  padding-bottom: 15px;
}
.twos .col-sm {
  padding: 0;

}

.threes {
  background-color: magenta;
  padding: 15px;
}

.threes .col {
  padding: 0;
}

.regular .card {
  min-height: 350px;
}

.regular .card-img-top {
  min-height: 165px;
  max-height: 165px;
}

.small .card {
  max-width: 325px;
  max-height: 350px;
}

// side-nav
.latest-feed .side-nav {
  padding: 0 0 0 30px;
}

.side-nav .card-list {
  padding: 0;
}

.side-nav .card-list .card-body {
  padding: 0;
}

.side-nav .card-list .card-title {
  padding: 1.25rem;
  margin: 0;
}

.side-nav .card-list img {
  width: 90px;
  height: 90px;
}


// ADVERTISMENT
.advertisement .col-sm {
  padding: 0;
}
